.nav-main{
    background-color: #0093de !important;
    color: #ffffff !important;
    box-shadow: rgb(0 0 0 / 14%) 1px -1px 12px 8px;
}
li a{
    margin: 2px;
    width: 70px;
    text-align: center;
    color: #ffffff !important;
    font-size: 14px;
}
li:hover{
    background-color: #007fe3;
    cursor: pointer;
    border-radius: 5px;
}